body,div, ul, li,p{
	 margin:0; padding:0; 
}
body{
	font-family: "微软雅黑";
	font-weight: bolder;
	background: #069;
}
ul { 
	list-style:none;
}
#main{
	width:1120px;
	height:680px;
	margin: 0px auto;	
}
#nav_wraper{
	width:1120px;
	height:100px;
}

#nav{
	float: left;
	width:1120px;
	height:100px;
	line-height: 100px;
}
#nav li{
	width:224px;
	float: left;
	text-align: center;
	font-size: 20px;
	color: #fff;
}
#nav li.active-li{
	-webkit-animation:turn 4s infinite;
}
@-webkit-keyframes turn{
	75%{
		-webkit-transform:rotateY(0deg);
	}
	100%{
		-webkit-transform:rotateY(360deg);
	}
}
#menu_wraper{
	width:1120px;
	height:580px;
	position: relative;
	overflow: hidden;
	
}
#menu_wraper .menu-list{
	width:1120px;
	height:580px;
	color: darkred;
	position: absolute;	
	top:0;left:1120px;
	overflow: visible !important;

}

#menu_wraper .menu-list0{
	left:0px;
}
#menu_wraper .menu-list0 div{
	position: absolute;
	color:#fff;
	text-align: center;
	font-size:22px;
	outline: none;
}
#menu_wraper .menu-list0 .program{
	width:545px;
	height:360px;
	background: #222222;
	left:10px;
	top:10px;
}

#menu_wraper .menu-list0 .pro-post{
	width:175px;
	height:175px;
	background: green;
	line-height: 175px;
	left:565px;
	top:10px;
	
}
#menu_wraper .menu-list0 .pro-search{
	width:175px;
	height:175px;
	background: aquamarine;
	line-height: 175px;
	left:750px;
	top:10px;
}
#menu_wraper .menu-list0 .pro-edit{
	width:175px;
	height:175px;
	background: mediumpurple;
	line-height: 175px;
	left:935px;
	top:10px;
}
#menu_wraper .menu-list0 .e-mail{
	width:175px;
	height:175px;
	background: cornflowerblue;
	line-height: 175px;
	left:565px;
	top:195px;
}
#menu_wraper .menu-list0 .add-pic{
	width:360px;
	height:360px;
	background:url(../img/timg.jpg);
	background-size:cover;
	right:10px;
	top:195px;
}
#menu_wraper .menu-list0 .tv-pro{
	width:360px;
	height:175px;
	background: green;
	line-height: 175px;
	left:10px;top:380px;
}
#menu_wraper .menu-list0 .tv-bro{
	width:175px;
	height:175px;
	background: purple;
	line-height: 180px;
	left:380px;top:380px;
}
#menu_wraper .menu-list0 .recive{
	width:175px;
	height:175px;
	background: orange;
	line-height: 175px;
	left:565px;
	top:380px;
}


#menu_wraper .menu-list1 div{
	position: absolute;
	text-align: center;
	font-size: 30px;
	color:#fff;
	outline: none;
}
#menu_wraper .menu-list1 .kingdom{
	width:360px;
	height:560px;
	background: url(../img/gitta.jpg);
	top:10px;
	left:10px;
}
#menu_wraper .menu-list1 .music{
	width:360px;
	height:180px;
	line-height: 180px;
	background: cyan;
	left:380px;
	top:10px;
}
#menu_wraper .menu-list1 .aiqiyi{
	width:360px;
	height:180px;
	line-height: 180px;
	background: purple;
	left:750px;top:10px;
}
#menu_wraper .menu-list1 .pptv{
	width:360px;
	height:180px;
	line-height: 180px;
	background: orangered;
	left:380px;
	top:200px;
}
#menu_wraper .menu-list1 .fh-news{
	width:175px;
	height:180px;
	line-height: 180px;
	background: blue;
	left:750px;
	top:200px;
}
#menu_wraper .menu-list1 .youpeng{
	width:175px;
	height:180px;
	line-height: 180px;
	background: yellow;
	left:935px;
	top:200px;
}
#menu_wraper .menu-list1 .youku{
	width:360px;
	height:180px;
	line-height: 180px;
	background: mediumpurple;
	left:380px;
	top:390px;
}
#menu_wraper .menu-list1 .yifang{
	width:360px;
	height:180px;
	line-height: 180px;
	background: greenyellow;
	left:750px;
	top:390px;
}
.menu-list2,.menu-list3,.menu-list4{
	padding-top: 10px;
	padding-left: 10px;
	width: 1110px;
	height: 570px
}
.menu-list2 div,.menu-list3 div,.menu-list4 div{
	width:260px;height:260px;
	float: left;
	/*margin: 0 10px 10px 0;*/
	border: 1px solid #006699;
	background: cyan;
	text-align: center;
	line-height: 250px;
	font-size: 30px;
	color:#fff;
	outline: none;
}
.menu-list3 div{
	background: peru;
}
.menu-list4 div{
	background: orange;
}
#menu_wraper .menu-list .focus-div{
	display: none;
	border: 6px solid darkred;
	position: absolute;
	background: none !important;
	
	/*box-shadow: 0px 0px 20px #8B0000 ;*/
}







